<section class="py-2">
  <div class="row">
    <div class="col-md-6 text-center">
      <h1 class="display-3 mt-3 pt-5">
        Donation for a cause
      </h1><p class="lead">Helping Hands</p>
      <form action="/charge" method="POST">
        <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="{{stripePublishableKey}}"
          data-amount="2500"
          data-name="Fund Raising"
          data-description="Donate for a cause"
          data-image="/img/marketplace.png"
          data-locale="auto">
        </script>
        <script>
          // Hide default stripe button
          document.getElementsByClassName('stripe-button-el')[0].style.display = 'none';
        </script>
        <button type="submit" class="btn btn-outline-dark text-white btn-lg">Donate Rs.250</button>
      </form>
    </div>
    <div class="col-md-6">
      <img src="/img/book.jpg" alt="" class="img-fluid">
    </div>
  </div>
</section>